<div class="container">

  <h1> Add a new restaurant </h1>

  <%= simple_form_for(@restaurant) do |r|%>

  <div class="row">
    <%= r.input :name, class: "form-control" %>
  </div>

  <div class="row">
    <%= r.input :address, class: "form-control" %>
  </div>

  <div class="row">
    <%= r.input :phone_number, class: "form-control" %>
  </div>

  <div class="row">
    <%= r.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"], as: :select %>
  </div>

   <div class="row">
    <%= r.submit "Add a Restaurant", class: "btn btn-primary" %>
  </div>

  <% end %>

</div>

