<div class="container">

  <div class="restaurant-card">

    <div>
      <h3> <%=  @restaurant.name %></h3>
      <p> Address: <em> <%= @restaurant.address  %></em>  </p>
      <p> Phone Number : <%= @restaurant.phone_number %></p>
      <p> <%=@restaurant.category.capitalize  %> </p>
    </div>

    <%= link_to "Add a new review", new_restaurant_review_path(@restaurant.id), class: "btn btn-success text-center" %>
    </div>

  <h2 class="text-center"> Reviews </h2>


  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-xs-4">
        <div class ="review-card text-center ">
          <h2> <%= review.rating %> </h2>
          <p><%= review.content %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
